/* AdminManage.css */

/* Additional styles for the container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Additional styles for the box */
.listcontainer {
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 2000px; /* Adjust as needed */
  margin: 20px auto;
}

/* Additional styles for headings */
.listtitle {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

/* Additional styles for the table */
.listtable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.header,
.data {
  padding: 10px;
  border: 1px solid #e0e0e0;
  text-align: left;
}

.header{
  background-color: #007BFF;
  color: #fff;
}

/* Additional styles for the list item */
.listitem {
  background-color: #f9f9f9;
}

/* Style span elements inside list items */
.detaillabel {
  font-weight: bold;
  margin-right: 10px;
  color: #333;
}

/* Additional styles for the add admin button */
.addadminbuttoncontainer {
  text-align: center;
  margin-top: 20px;
}

.addadminbutton {
  background-color: #007BFF; /* Green color, adjust as needed */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

