/* VerticalNavbar.css */

/* Apply styles to the entire page */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

.verticalnavbar {
  width: 200px;
  /* Set the desired width for your vertical navbar */
  height: 100%;
  /* Fill the entire height of the page */
  background-color: #333;
  color: #fff;
  /* padding: 10px; */
  position: fixed;
  /* Fix the navbar's position */
  /* overflow-y: auto; */
  /* Add a scrollbar if the content overflows the navbar */

  /* Adjust the font size */
  font-size: 16px;
  /* Change the value to set your desired font size */
}

.navbarlist {
  list-style-type: none;
  padding: 20px;
  /* margin: 10px; */
  display: flex;
  flex-direction: column;
  height: 100%;
}

.list {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 20px;
}

.hover {
  color: #fff;
  transition: color 0.3s;
  text-decoration: none;
}

.hover:hover {
  color: #2980b9;
  /* Hover color change */
}

.dashboard {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
}

.dashboardicon {
  margin-right: 10px;
}

.mapsicon {
  margin-right: 10px;
  margin-bottom: -3px;
}

.profileicon {
  margin-right: 10px;
  margin-bottom: -3px;
}

.manageicon{
  margin-right: 10px;
  margin-bottom: -3px;
}

.feedbackicon{
  margin-right: 10px;
  margin-bottom: -3px;
}

.logouticon{
  margin-right: 10px;
  margin-bottom: -3px;
}

.logout{
  color: #fff;
  transition: color 0.3s;
  text-decoration: none;

}

.logout:hover {
  color: #e74c3c;
}