.sidebar {
    height: 100%;
    width: 250px;
    background-color: #2F4050;
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.searchInput {
    width: 60%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.adminLoginButton {
    background-color: #3498db;
    /* Set the background color to a desired color */
    color: #fff;
    /* Set the text color to white or a contrasting color */
    padding: 10px 15px;
    margin-left: 50px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.adminLoginButton:hover {
    background-color: #2980b9;
    /* Change background color on hover */
}